html {
    font-size: 18px;
}

h1 {
    font-size: 2rem;
}

/* #first-character {
    font-size: 50px;
} */

.starting-character {
    font-size: 3rem;
}

.starting-character.first-overall-character {
    color: red;
}

.sample-copy {
    font-size: 1.25rem;
}

footer.sample-copy {
    color: red;
}