/*
pseudo-elements - :: - describe part of an element
pseudo-classes - : - define the state of an element
*/

#first-list li:first-child {
    font-size: 1.5rem;
}

li:nth-child(2) {
    font-size: 1.5rem;
}

li:last-child {
    font-size: 1.5rem;
}

h2:nth-of-type(2) {
    color: red;
}

#button1:hover {
    background-color: rgb(116, 116, 116);
    color: white;
    border: 1px, black solid;
    padding: 5px;
}

#section1 p:first-of-type::first-letter {
    color: blue;
    font-weight: bold;
}

/* p::first-line {
    color: blue;
    font-weight: bold;
} */

p::first-letter {
    font-size: 2rem;
}