.completed-task {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    line-height: 1.5rem;
}

#wait-indicator {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}